@import 'tailwindcss';

@theme {
  --color-nasa-blue: #0B3D91;
  --color-nasa-red: #FC3D21;
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 61, 145;
  --background-end-rgb: 252, 61, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    to right bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))
  ); */
  background: url('/images/space_star.webp') no-repeat center fixed;
  background-size: cover;
}
